AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignOperands: Align 
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
IncludeBlocks: Preserve
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
ColumnLimit: 0
PointerAlignment: Left
AllowShortEnumsOnASingleLine: true
